@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC');

.etudes{
	min-height: 80vh;
	width: 100%;
	margin-bottom: 0px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.ecole{
	height: 100%;
	width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.title{
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 200px;
    width: 100%;
    background-color: #939393;
}

.title h1{
    font-size: 100px;
    letter-spacing: 15px;
    font-weight: 200;
    display: flex;
    justify-content: center;
    text-align: center;
    justify-content: center;
    margin: 50px 0px 0px 0px;
    animation: enter 2s ease-in-out 1 alternate;
	
}

@keyframes enter {
    from {
        transform: translateX(-300px); 
        opacity: 0;       
}
    to {
        transform: translateX(0px);
        opacity: 1;
    }
}

.text-article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex: 1;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0px 50px 0px 50px;
}
.ecole img{
    max-height: 300px;
}

#esdes{
	background-color: #CCCCCC;
}
#bsb{
    background-color: #939393;
   
}
#lhs{
	background-color: #CCCCCC;
}
.text-article h2{
	font-size: 23px;
    font-weight: 200;
	
}

.bsb h2{
	font-size: 23px;
    font-weight: 200;
	color:  white;
}
.text-article h3{
	font-size: 16px;
    font-weight: 200;

}
.text-article p{
	
    font-size: 17px;
    font-family: 'Roboto Condensed', sans-serif;
    
    
}

h2{
    font-family: 'Amatic SC', cursive;
}