.pro{
	min-height: 80vh;
	width: 100%;
	margin-bottom: 2px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.exp{
	height: 100%;
	width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.title{
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 200px;
    width: 100%;
    background-color: #939393;
}

.title h1{
    font-size: 100px;
    letter-spacing: 5px;
    font-weight: 200;
    display: flex;
    justify-content: center;
    text-align: center;
    justify-content: center;
    margin: 50px 0px 0px 0px;
    animation: enter 2s ease-in-out 1 alternate;
	
}

@keyframes enter {
    from {
        transform: translateX(-300px); 
        opacity: 0;       
}
    to {
        transform: translateX(0px);
        opacity: 1;
    }
}

.text-article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex: 1;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0px 50px 0px 50px;
}
.exp img{
    max-height: 300px;
}

#seb{
	background-color: #CCCCCC;
}
#efi{
    background-color: #939393;
   
}
#esdesbs{
	background-color: #CCCCCC;
}
.text-article h2{
	font-size: 23px;
    font-weight: 200;
	
}

.efi h2{
	font-size: 23px;
    font-weight: 200;
	color:  white;
}
.text-article h3{
	font-size: 16px;
    font-weight: 200;

}
.p{
	
    font-size: 15px;
    font-family: 'Roboto Condensed', sans-serif;
    
}